{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid padding text-center">

    {% if messages %}
      {% for msg in messages %}
      <h6 class="{{ msg.tags }}">{{ msg }}</h6>
      {% endfor %}
    {% endif %}
  <p/>
    <form method="post" action="#">
      {% csrf_token %}
      <label for="start_date">Start Date:</label>
      <input type="date" name="start_date" value=""/>
      <label for="end_date">End Date:</label>
      <input type="date" name="end_date" value=""/>
      <input type="submit" value="Submit"/>
    </form>
  <p/>
  <div class="row">
    <table class="mx-auto col-md-6">
      <tr>
          <th>Id</th>
          <th>Appointment Date</th>
          <th>Stylist</th>
          <th>Credit Sales</th>
          <th>Cash Sales</th>
          <th>Total Sales</th>
      </tr>
      {% for appt in appointments %}
      <tr class="{% cycle 'appt-list' 'appt-list-alt' %}">
        <td><a href="/appt/{{ appt.id }}/">{{ appt.id }}</a></td>
        <td>{{ appt.service_date|date:"SHORT_DATETIME_FORMAT" }}</td>
        <td>{{ appt.stylist }}</td>
        <td>{{ appt.credit_sales }}</td>
        <td>{{ appt.cash_sales }}</td>
        <td>{{ appt.total_sales }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <div class="pagination mx-auto col-md-6">
      <span class="step-links">
          {% if appointments.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ appointments.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ appointments.number }} of {{ appointments.paginator.num_pages }}.
          </span>

          {% if appointments.has_next %}
              <a href="?page={{ appointments.next_page_number }}">next</a>
              <a href="?page={{ appointments.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
  </div>

</div>


{% endblock content %}
