{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid pt-3">

    {% if user.is_authenticated %}
    <div class="row justify-content-center p-2">
      <div class="col-4 p-2">
        <div class="card card-block">
          <div class="card-body">
            <h5 class="card-title">Schedule</h5>
            <p class="card-text">View schedule for a given day.</p>
            <a class="btn btn-primary btn-lg" href="/schedule">View</a>
          </div>
        </div>
      </div>
      <div class="col-4 p-2">
        <div class="card card-block">
          <div class="card-body">
            <h5 class="card-title">Add Appointment</h5>
            <p class="card-text">Enter new appointment information.</p>
            <a class="btn btn-primary btn-lg" href="/appt">Add</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center p-2">
      <div class="col-4 p-2">
        <div class="card card-block">
          <div class="card-body">
            <h5 class="card-title">View Appointments</h5>
            <p class="card-text">Review available appointment information.</p>
            <a class="btn btn-primary btn-lg" href="/appointments">View</a>
          </div>
        </div>
      </div>
        <div class="col-4 p-2">
          <div class="card card-block">
            <div class="card-body">
              <h5 class="card-title">Reports</h5>
              <p class="card-text">Review and retrieve sales information.</p>
              <a class="btn btn-primary btn-lg" href="/reports">View</a>
            </div>
          </div>
        </div>
    </div>
  {% else %}
      <div class="row justify-content-center">
        <div class="text-center">
          <img class="rounded mx-auto d-block resize" src="{% static 'media/chic_hair_design_front.jpg' %}"/>
        </div>
      </div>
  {% endif %}
</div>
{% endblock content %}
