body {
   min-height: 200px;
   margin-bottom: 50px;
   clear: both;
}
footer {
    background-color: #333;
    width: 100%;
    bottom: 0;
    position: fixed;
}
footer div {
    font-size: 0.85em;
    color: #fff;
}
img.resize {
    max-width: 60%;
}
.success {
  color: green;
}
.failure {
  color: red;
}
.appt-list td {
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.appt-list-alt td {
  background-color: #ccc;
    padding-left: 0.75em;
    padding-right: 0.75em;
}
/*---Media Queries --*/

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}


/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
